.pageWrapper {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.stepsSection {
  background: #ffff;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.stepsSection h2 {
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 2px solid #e67e22;
  display: inline-block;
}

.stepsSection li {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

.formSection {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.formSection h2 {
  text-align: center;
  margin-bottom: 16px;
  font-size: 24px;
}

.formSection form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formSection input,
.formSection textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.formSection textarea{
  min-height: 150px;   
  resize: vertical;    
}

.formSection button {
  width: 150px;
  padding: 8px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.formSection button:hover {
  background: #0056b3;
}

.subText {
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  color: #007bff;
  text-decoration: none;
}
