.pageWrapper {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

/* Instructions */
.instructions {
  max-width: 800px;
  margin: 0 auto 1rem; /* centers the block */
  text-align: left;
  width: 100%;
}

.instructions h2 {
  font-size: 1.45rem;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 0.75rem;
}

.instructions ul {
  margin: 0 auto;
  padding-left: 7rem;
  max-width: 600px;
  line-height: 1.8;
  color: #555;
}

/* Card */
.card {
  width: 100%;
  max-width: 980px;
  background: #ffffff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 10px 10px 5px rgb(243, 231, 231);
}

.card h3 {
  text-align: center;
  font-size: 1.45rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.subText {
  display: block;
  text-align: center;
  font-size: 1.1rem;
  color: #46494e;
  margin-bottom: 0.8rem;
  text-decoration: none;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0rem 2.5rem;
}

.form input,
.form textarea {
  width: 100%;
  padding: 0.85rem 1rem;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
}

.form textarea {
  min-height: 150px;
  resize: vertical;
}

.form input:focus,
.form textarea:focus {
  border-color: #4f46e5;
}

/* Tags + Buttons row */
.tagRow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Buttons */
.button {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.form button {
  padding: 0.6rem 1.6rem;
  font-size: 0.95rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* Primary */
.form button[type="submit"] {
  background-color: #4f46e5;
  color: #ffffff;
}

.form button[type="submit"]:hover {
  background-color: #4338ca;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* AI Button */
.aiButton {
  background-color: #d1d5db;
  color: #020914;
  padding: 0.25rem;
}

.aiButton:hover:not(:disabled) {
  background-color: #7b9cdf;
}

.aiButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* AI Preview */
.aiPreview {
  margin: 2.5rem;
  padding: 1.25rem;
  border: 1px dashed #c7c7c7;
  background-color: #fafafa;
  border-radius: 8px;
}

.aiPreview h4 {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
  color: #4f46e5;
}

.aiPreview p {
  font-size: 0.95rem;
  margin: 4px 0;
}

/* Responsive */
@media (max-width: 768px) {
  .card {
    padding: 1.5rem;
  }

  .instructions h2 {
    font-size: 1.5rem;
  }
  .buttonRow {
    flex-direction: column;
    gap: 10px;
  }

  .buttonRow button {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .button {
    flex-direction: column;
  }

  .form button {
    width: 100%;
  }
}
