.title{
    margin: 30px 0;
    font-weight: 500;
}

.search_question{
    width: 100%;
    margin: auto;
    flex-grow: 1;
    /* align-items: center; */
}

.search_question > input{
    width: 100%;
    border-radius: 5px;
    overflow-x: hidden;
    padding: 10px 20px;
    outline: none;
    /* transition: border ease-in-out .3s; */
    border: 1.5px solid var(--blue-shade) !important;
    font-size: 18px;
}

.search_question input:focus{
    border: 1.5px solid var(--primary-color);
    outline: none;
    transition: all ease-in-out .3s;
    color: orange;
    border:none;
    border-bottom: 1.5px solid orange;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 15px;
  margin: 0 10px;
  border: none;
  background-color: var(--blue-shade);
  color: white;
  cursor: pointer;
  border-radius: 7px;
}
.pagination button:hover {
  background-color: var(--primary-color);
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  padding: 10px;
  font-size: 16px;
  align-self: center;
}

.questionCard {
  background-color: #f9f9f9; /* light gray background */
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.questionCard h3 {
  margin: 0 0 8px 0;
  font-size: 20px;
  color: var(--primary-color);
}

.questionCard p {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: #333;
}

.questionCard span {
  font-size: 14px;
  color: #666;
}
