body {
  background-color: #f7f7f7;
}
.wrapper {
  display: flex;
  width: 100%;
}

.authSection {
  flex: 1;
  background-color: #f7f7f7;
  display: flex;
  top: 0;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  padding: 0.5rem;
}

/* RIGHT: ABOUT */
.aboutSection {
  flex: 1;
  position: sticky;
  overflow: hidden;
  justify-content: start;
  align-items: start;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .aboutSection {
    position: relative;
    height: auto;
  }
}
